smtrad-schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
  schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" >
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>SMTrad Customization File</title>
        <author ref="#nivaca">Nicolas Vaughan</author>
      </titleStmt>
      <publicationStmt>
        <authority>An SCTA and LombardPress Collaboration Project</authority>
      </publicationStmt>
      <sourceDesc>
        <p>Born Digital</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc status="draft">
      <change who="#nivaca" when="2020-09-03" n="0.0.0-dev"></change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <!--<schemaSpec ident="lombardpress-schema" start="TEI"
        source="http://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">-->
      <schemaSpec ident="SMTrad"
        source="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">
        
        <!-- Core Module -->
        <moduleRef key="core"/>
        
        
        <!-- note -->
        <elementSpec ident="note" module="core" mode="change">
          <attList>
            <attDef ident="ana" usage="req" mode="change"/>
            <attDef ident="xml:id" usage="req" mode="change"/>
          </attList>
        </elementSpec>        
        
        <constraintSpec ident="note-must-have-ab" scheme="schematron">
          <desc>
            note (not having ana=fn) must contain ab direct child
          </desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:text/tei:body//tei:note[not(@ana='fn')]">
              <report test="not(./tei:ab)">note must contain ab as a direct child (or must have ana=fn for a footnote)</report>
            </rule>
          </constraint>
        </constraintSpec>
        
        
        
        
        <!-- ab -->
        <elementSpec ident="ab" module="core" mode="change">
          <attList>
            <attDef ident="rend" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="indented">
                  <gloss>indented</gloss>
                  <desc>the ab should be rendered as indented</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="xml:id" usage="rec" mode="change"/>
            <attDef ident="n" mode="change" usage="req">
              <datatype>
                <dataRef name="decimal"/>
              </datatype>
              <valList mode="change"/>
            </attDef>
            <attDef ident="ana" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="leavevmode">
                  <gloss>leavevmode</gloss>
                  <desc>Inserts LaTeX \leavevmode</desc>
                </valItem>
                <valItem ident="nl">
                  <gloss>newline</gloss>
                  <desc>Inserts LaTeX \par</desc>
                </valItem>
                <valItem ident="ling">
                  <gloss>linguistic</gloss>
                  <desc>This is a linguistic comment</desc>
                </valItem>
                <valItem ident="narr">
                  <gloss>narrative</gloss>
                  <desc>This is a comment concerning the work's narrative</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="p" module="core" mode="change">
          <attList>
            <attDef ident="rend" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="indented">
                  <gloss>indented</gloss>
                  <desc>Indents to the right the whole paragraph</desc>
                </valItem>
                <valItem ident="nofirstlineindent">
                  <gloss>nofirstlineindent</gloss>
                  <desc>Does not indent the first line of paragraph</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="lb" module="core" mode="change">
          <attList>
            <attDef ident="type" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="nonumber">
                  <gloss>no number</gloss>
                  <desc>Unnumbered line break</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        <elementSpec ident="quote" module="core" mode="change">
          <attList>
            <attDef ident="xml:lang" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="ang"><gloss>Anglo-Saxon</gloss></valItem>
                <valItem ident="cym"><gloss>Welsh</gloss></valItem>
                <valItem ident="deu"><gloss>German</gloss></valItem>
                <valItem ident="enm"><gloss>Middle English</gloss></valItem>
                <valItem ident="eng"><gloss>English</gloss></valItem>
                <valItem ident="fra"><gloss>French</gloss></valItem>
                <valItem ident="frm"><gloss>Middle French</gloss></valItem>
                <valItem ident="fro"><gloss>Old French</gloss></valItem>
                <valItem ident="grc"><gloss>Classical Greek</gloss></valItem>
                <valItem ident="hbo"><gloss>Ancient Hebrew</gloss></valItem>
                <valItem ident="ita"><gloss>Italian</gloss></valItem>
                <valItem ident="lat"><gloss>Latin</gloss></valItem>
                <valItem ident="nld"><gloss>Dutch</gloss></valItem>
                <valItem ident="spa"><gloss>Spanish</gloss></valItem>
              </valList>
            </attDef>
            <attDef ident="ana" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="verse">
                  <gloss>verse</gloss>
                  <desc>The quote is a verse</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="foreign" module="core" mode="change">
          <attList>
            <attDef ident="xml:lang" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="ang"><gloss>Anglo-Saxon</gloss></valItem>
                <valItem ident="cym"><gloss>Welsh</gloss></valItem>
                <valItem ident="deu"><gloss>German</gloss></valItem>
                <valItem ident="enm"><gloss>Middle English</gloss></valItem>
                <valItem ident="eng"><gloss>English</gloss></valItem>
                <valItem ident="fra"><gloss>French</gloss></valItem>
                <valItem ident="frm"><gloss>Middle French</gloss></valItem>
                <valItem ident="fro"><gloss>Old French</gloss></valItem>
                <valItem ident="grc"><gloss>Classical Greek</gloss></valItem>
                <valItem ident="hbo"><gloss>Ancient Hebrew</gloss></valItem>
                <valItem ident="ita"><gloss>Italian</gloss></valItem>
                <valItem ident="lat"><gloss>Latin</gloss></valItem>
                <valItem ident="nld"><gloss>Dutch</gloss></valItem>
                <valItem ident="spa"><gloss>Spanish</gloss></valItem>
              </valList>
            </attDef>
            <attDef ident="ana" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="lexeme">
                  <gloss>lexeme</gloss>
                  <desc>Treats the quote as a lexeme</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        <elementSpec ident="q" module="core" mode="change">
          <attList>
            <attDef ident="xml:lang" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="ang"><gloss>Anglo-Saxon</gloss></valItem>
                <valItem ident="cym"><gloss>Welsh</gloss></valItem>
                <valItem ident="deu"><gloss>German</gloss></valItem>
                <valItem ident="enm"><gloss>Middle English</gloss></valItem>
                <valItem ident="eng"><gloss>English</gloss></valItem>
                <valItem ident="fra"><gloss>French</gloss></valItem>
                <valItem ident="frm"><gloss>Middle French</gloss></valItem>
                <valItem ident="fro"><gloss>Old French</gloss></valItem>
                <valItem ident="grc"><gloss>Classical Greek</gloss></valItem>
                <valItem ident="hbo"><gloss>Ancient Hebrew</gloss></valItem>
                <valItem ident="ita"><gloss>Italian</gloss></valItem>
                <valItem ident="lat"><gloss>Latin</gloss></valItem>
                <valItem ident="nld"><gloss>Dutch</gloss></valItem>
                <valItem ident="spa"><gloss>Spanish</gloss></valItem>
              </valList>
            </attDef>
            <attDef ident="who" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="#Sal">
                  <gloss>Sal</gloss>
                  <desc>Salomon</desc>
                </valItem>
                <valItem ident="#Marc">
                  <gloss>Marc</gloss>
                  <desc>Marcolfus</desc>
                </valItem>
                <valItem ident="#Fus">
                  <gloss>Fus</gloss>
                  <desc>Fusada</desc>
                </valItem>
                <valItem ident="#al">
                  <gloss>al</gloss>
                  <desc>alii (otros hablantes)</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="ana" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="lexeme">
                  <gloss>lexeme</gloss>
                  <desc>Treats the quote as a lexeme</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="rend" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="indented">
                  <gloss>indented</gloss>
                  <desc>The quote is rendered as an indented paragraph</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="title" module="core" mode="change">
          <attList>
            <attDef ident="type" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="ms">
                  <gloss>manuscript</gloss>
                  <desc>Title of a manuscript</desc>
                </valItem>
                <valItem ident="ed">
                  <gloss>edition</gloss>
                  <desc>Title of a printed edition</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="rend" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="upshape">
                  <gloss>upshape</gloss>
                  <desc>
                    Title rendered in upshape font, 
                    not in italics
                  </desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        <elementSpec ident="hi" module="core" mode="change">
          <attList>
            <attDef ident="rend" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="sc">
                  <gloss>smallcaps</gloss>
                  <desc>Render in smallcaps</desc>
                </valItem>
                <valItem ident="upshape">
                  <gloss>upshape</gloss>
                  <desc>Render in upshape, i.e. without italics</desc>
                </valItem>
                <valItem ident="bf">
                  <gloss>boldface</gloss>
                  <desc>Render in bold text</desc>
                </valItem>
                <valItem ident="superscript">
                  <gloss>superscript</gloss>
                  <desc>Render in superscript</desc>
                </valItem>
                <valItem ident="subscript">
                  <gloss>subscript</gloss>
                  <desc>Render in subscript</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        
        <elementSpec ident="mentioned" module="core" mode="change">
          <attList>
            <attDef ident="ana" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="lexeme">
                  <gloss>lexeme</gloss>
                  <desc>Treats the quote as a lexeme</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="gloss" module="core" mode="change">
          <attList>
            <attDef ident="ana" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="lexeme">
                  <gloss>lexeme</gloss>
                  <desc>Treats the quote as a lexeme</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        
        <elementSpec ident="ref" module="core" mode="change">
          <attList>
            <attDef ident="type" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="a">
                  <gloss>citeauthor</gloss>
                  <desc>\citeauthor: e.g. 'Ockham'</desc>
                </valItem>
                <valItem ident="p">
                  <gloss>parencite</gloss>
                  <desc>\parencite: e.g. '(Ockham 2020)'</desc>
                </valItem>
                <valItem ident="t">
                  <gloss>citetitle</gloss>
                  <desc>\citetitle: e.g. 'Quodlibeta Septem'</desc>
                </valItem>
                <valItem ident="y">
                  <gloss>citeyear</gloss>
                  <desc>\citeyear: e.g. '2020'</desc>
                </valItem>
                <valItem ident="py">
                  <gloss>citeyear in parenthesis</gloss>
                  <desc>:\citeyear in parenthesis e.g. '(2020)'</desc>
                </valItem>
                <valItem ident="abbr">
                  <gloss>citeabbr</gloss>
                  <desc>\citeabbr: e.g. 'Quodl'</desc>
                </valItem>
                <valItem ident="pabbr">
                  <gloss>citeabbr in parenthesis</gloss>
                  <desc>\citeabbr in parenthesis: e.g. '(Quodl)'</desc>
                </valItem>
                <valItem ident="abbrpc">
                  <gloss>citeabbr (content)</gloss>
                  <desc>\citeabbr (content): e.g. 'Quodl (q.23)'</desc>
                </valItem>
                <valItem ident="fulltext">
                  <gloss>fulltext ref</gloss>
                  <desc>Use text/rend without calling LaTeX's cite</desc>
                </valItem>
                <valItem ident="nc">
                  <gloss>nocite</gloss>
                  <desc>
                    \nocite: adds reference to bibliography
                    but does not cite in text; in the text,
                    only the ref content is included
                  </desc>
                </valItem>
                <valItem ident="pnc">
                  <gloss>nocite in parenthesis</gloss>
                  <desc>\nocite in parenthesis: adds to bibliography 
                    but does not cite in text; in the text, 
                    only the ref content is included, 
                    and within parentheses
                  </desc>
                </valItem>
                <valItem ident="url">
                  <gloss>url</gloss>
                  <desc>produces a \href citation</desc>
                </valItem>
                <valItem ident="internal">
                  <gloss>internal</gloss>
                  <desc>Internal crossref</desc>
                </valItem>
                <valItem ident="note">
                  <gloss>note</gloss>
                  <desc>Note to the text</desc>
                </valItem>
                <valItem ident="ms">
                  <gloss>manuscript</gloss>
                  <desc>A MS. in BenSM's critical apparatus.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        <moduleRef key="tei"/>
        
        
        <moduleRef key="verse"/>
        
        
        
        
        <!-- header module -->
        <moduleRef key="header"/>
        
        <!-- header rules -->
        <!-- titleStmt rules -->
        <constraintSpec ident="missing-author-rule" scheme="schematron">
          <desc>An author must be stated. Either the author's name or anonymous should be stated</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:teiHeader[1]/tei:fileDesc[1]/tei:titleStmt[1]">
              <report test="not(./tei:author)">An author must be stated. Either the author's name or anonymous should be stated</report>
            </rule>
          </constraint>
        </constraintSpec>
        
        <!-- editionStmt rules -->
        <constraintSpec ident="missing-edition-n" scheme="schematron">
          <desc>EditionStmt edition must have an n attribute</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:teiHeader[1]/tei:fileDesc[1]/tei:editionStmt[1]/tei:edition[1]">
              <report test="not(./@n)">Edition element must indicate edition number with n attribute of the form x.x.x or x.x.x-dev</report>
            </rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="missing-edition-date" scheme="schematron">
          <desc>EditionStmt Edition must have an date element as child</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:teiHeader[1]/tei:fileDesc[1]/tei:editionStmt[1]/tei:edition[1]">
              <report test="not(./tei:date)">EditionStmt Edition must have an date element as child</report>
            </rule>
          </constraint>
        </constraintSpec>
        <constraintSpec ident="missing-edition-date-when-attribute" scheme="schematron">
          <desc>EditionStmt Edition Date must have a when attribute</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:teiHeader[1]/tei:fileDesc[1]/tei:editionStmt[1]/tei:edition[1]">
              <report test="not(./tei:date/@when)">EditionStmt Edition Date must have a when attribute</report>
            </rule>
          </constraint>
        </constraintSpec>
        
        
        
        
        
        
        <!-- revisionDesc rules -->
        <constraintSpec ident="revision-desc-must-be-present" scheme="schematron">
          <desc>Revision description must be present</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:teiHeader[1]">
              <report test="not(./tei:revisionDesc)">Revision description must be present</report>
            </rule>
          </constraint>
        </constraintSpec>
        
        <!-- END HEADER RULES -->
        
        
        
        
        
        
        <!-- text structure module -->
        <moduleRef key="textstructure"/>
        
        
        
        
        <!-- rules for body -->
        <constraintSpec ident="body-must-have-immediate-div-and-no-other-direct-children" scheme="schematron">
          <desc>Body must have immediate div and no other direct children</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:text[1]/tei:body[1]">
              <report test="not(./tei:div[1])">Body must have immediate div</report>
            </rule>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="/tei:TEI/tei:text[1]/tei:body[1]">
              <report test="count(./*) gt 1">Body must have ONLY child that is a div</report>
            </rule>
          </constraint>
        </constraintSpec>
        
        
        
        
        <!-- optional modules -->
        
        
        <!-- linking module -->
        <moduleRef key="linking"/>
        
        
        
        
        
        <!-- Name and Date Module -->
        <moduleRef key="namesdates"/>
        
        
        <!-- Primary Source Transcription Module -->
        <moduleRef key="transcr"/>
        
        <!-- "supplied" element-->
        <elementSpec ident="supplied" module="core" mode="change">
          <attList>
            <!-- @rend -->
            <attDef ident="rend" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="eq">
                  <gloss>eq</gloss>
                  <desc>Inserts $=$ before the content</desc>
                </valItem>
                <valItem ident="nobrackets">
                  <gloss>nobrackets</gloss>
                  <desc>Supplied with no brackets</desc>
                </valItem>
                <valItem ident="p">
                  <gloss>p</gloss>
                  <desc>Uses parentheses instead of brackets</desc>
                </valItem>
                <valItem ident="peq">
                  <gloss>peq</gloss>
                  <desc>Inserts $=$ before the content and uses parentheses instead of brackets</desc>
                </valItem>
                <valItem ident="psc."><!-- mind the dot -->
                  <gloss>sc</gloss>
                  <desc>Inserts `sc.` before the content and uses parentheses instead of brackets</desc>
                </valItem>
                <valItem ident="pvel">
                  <gloss>pvel</gloss>
                  <desc>Inserts italized `o:` before the content and uses parentheses instead of brackets</desc>
                </valItem>
                <valItem ident="sc."><!-- mind the dot -->
                  <gloss>sc.</gloss>
                  <desc>Inserts `sc.` before the content</desc>
                </valItem>
                <valItem ident="vel">
                  <gloss>vel</gloss>
                  <desc>Inserts italized `o:` before the content inside brackets</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <!-- "abbr" element-->
        <elementSpec ident="abbr" module="core" mode="change">
          <attList>
            <!-- @ana-->
            <attDef ident="ana" usage="opt" mode="replace">
              <valList type="closed" mode="replace">
                <valItem ident="aec">
                  <gloss rend="sc">a.e.c.</gloss>
                  <desc>antes de la Era Común</desc>
                </valItem>
                <valItem ident="adloc">
                  <gloss rend="it">ad loc.</gloss>
                  <desc>
                    <hi>ad locum</hi> <q>en ese lugar</q>
                  </desc>
                </valItem>
                <valItem ident="c">
                  <gloss rend="it">c.</gloss>
                  <desc>
                    <hi>circa</hi> 
                    <q>cerca de, próximo a, en torno a</q>
                  </desc>
                </valItem>
                <valItem ident="cym">
                  <gloss rend="sc">cym</gloss>
                  <desc>galés</desc>
                </valItem>
                <valItem ident="deu">
                  <gloss rend="sc">deu</gloss>
                  <desc>alemán</desc>
                </valItem>
                <valItem ident="ec">
                  <gloss rend="it">e.c.</gloss>
                  <desc>Era Común</desc>
                </valItem>
                <valItem ident="eg">
                  <gloss rend="it">eg</gloss>
                  <desc>
                    <hi>exempli gratia</hi> 
                    <q>por ejemplo</q>
                  </desc>
                </valItem>
                <valItem ident="eil">
                  <gloss rend="sc">eil</gloss>
                  <desc>edición incunable latina</desc>
                </valItem>
                <valItem ident="eils">
                  <gloss rend="sc">eils</gloss>
                  <desc>ediciones incunables latinas</desc>
                </valItem>
                <valItem ident="enm">
                  <gloss rend="sc">enm</gloss>
                  <desc>inglés medio</desc>
                </valItem>
                <valItem ident="fl">
                  <gloss rend="it">fl.</gloss>
                  <desc>
                    <hi>floruit</hi>
                    <q>floreció</q>
                  </desc>
                </valItem>
                <valItem ident="grc">
                  <gloss rend="sc">grc</gloss>
                  <desc>griego clásico</desc>
                </valItem>
                <valItem ident="ie">
                  <gloss rend="it">i.e.</gloss>
                  <desc>
                    <hi>id est</hi> 
                    <q>esto es</q>
                  </desc>
                </valItem>
                <valItem ident="ita">
                  <gloss rend="sc">ita</gloss>
                  <desc>italiano</desc>
                </valItem>
                <valItem ident="lat">
                  <gloss rend="sc">lat</gloss>
                  <desc>latín</desc>
                </valItem>
                <valItem ident="latc">
                  <gloss rend="sc">latc</gloss>
                  <desc>latín clásico</desc>
                </valItem>
                <valItem ident="latm">
                  <gloss rend="sc">latm</gloss>
                  <desc>latín medieval</desc>
                </valItem>
                <valItem ident="lit">
                  <gloss>lit.</gloss>
                  <desc>literalmente</desc>
                </valItem>
                <valItem ident="ms">
                  <gloss>ms</gloss>
                  <desc>manuscrito</desc>
                </valItem>
                <valItem ident="mss">
                  <gloss>mss</gloss>
                  <desc>manuscritos</desc>
                </valItem>
                <valItem ident="pfe">
                  <gloss>
                    proverbio faltante en las <abbr ana="eils"/>
                  </gloss>
                  <desc xml:lang="spa">
                    Este proverbio y la respuesta de Marcolfo 
                    no se encuentran en las <abbr ana="eils"/> ni, 
                    por consiguiente, 
                    en las traducciones de la época.
                  </desc>
                </valItem>
                <valItem ident="sc">
                  <gloss rend="it">sc</gloss>
                  <desc>
                    <hi>scilicet</hi> 
                    <q>a saber</q>
                  </desc>
                </valItem>
                <valItem ident="sicb">
                  <gloss rend="it">[sic]</gloss>
                  <desc>
                    <hi>sic</hi> 
                    <q>así</q> (entre corchetes)
                  </desc>
                </valItem>
                <valItem ident="spa">
                  <gloss rend="sc">spa</gloss>
                  <desc>
                    español
                  </desc>
                </valItem>
                <valItem ident="sv">
                  <gloss rend="it">s.v.</gloss>
                  <desc>
                    <hi>sub voce</hi>
                    <q>bajo la voz</q> (en la entrada del lexema)
                  </desc>
                </valItem>
                <valItem ident="uncert">
                  <gloss>incertidumbre</gloss>
                  <desc>`(?)`</desc>
                </valItem>
                <valItem ident="viz">
                  <gloss rend="it">viz.</gloss>
                  <desc>
                    <hi>videlicet</hi> 
                    <q>a saber</q>
                  </desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="type" usage="opt" mode="replace">
              <valList type="closed" mode="replace">
                <valItem ident="check">
                  <gloss>check</gloss>
                  <desc>remember to check before publishing</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="num" module="core" mode="change">
          <attList>
            <attDef ident="type" usage="opt" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="roman">
                  <gloss>roman</gloss>
                  <desc>roman numerals</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>       
        
        
        <moduleRef key="figures"/>
        
        <moduleRef key="msdescription"/>
        
        <!--for glossary entries-->
        <moduleRef key="dictionaries"/>
        
        <!-- analysis module -->
        <moduleRef key="analysis"/>
        
        <elementSpec ident="pc" module="analysis" mode="change">
          <attList>
            <attDef ident="type" usage="rec" mode="change">
              <valList type="semi" mode="add">
                <valItem ident="pilcrow">
                  <gloss>pilcrow</gloss>
                  <desc>A pilcrow punctuation character ¶</desc>
                </valItem>
                <valItem ident="virgula">
                  <gloss>virgula</gloss>
                  <desc>A virgula punctuation character /</desc>
                </valItem>
                <valItem ident="punctus">
                  <gloss>punctus</gloss>
                  <desc>A punctus punctuation character .</desc>
                </valItem>
                <valItem ident="punctus-medius">
                  <gloss>punctus medius</gloss>
                  <desc>A punctus medius punctuation character ·</desc>
                </valItem>
                <valItem ident="punctus-elevatus">
                  <gloss>punctus elevatus</gloss>
                  <desc>A punctus elevatus punctuation character ;</desc>
                </valItem>
                <valItem ident="punctus-interrogativus">
                  <gloss>punctus interrogativus</gloss>
                  <desc>A punctus interrogativus punctuation character ?</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <!-- attribute class modifications -->
        
        <classSpec ident="att.placement" type="atts" mode="change">
          <attList>
            <attDef ident="place" mode="change" usage="rec">
              <valList type="semi" mode="replace">
                <valItem ident="above-line">
                  <gloss>Above Line</gloss>
                  <desc>Inter-linearly, above the line in which it is being inserted</desc>
                </valItem>
                <valItem ident="margin-left">
                  <gloss>Left Margin</gloss>
                  <desc>In the left margin of the page</desc>
                </valItem>
                <valItem ident="margin-right">
                  <gloss>Right Margin</gloss>
                  <desc>In the right margin of the page</desc>
                </valItem>
                <valItem ident="margin-bottom">
                  <gloss>Bottom Margin</gloss>
                  <desc>In the bottom margin of the page</desc>
                </valItem>
                <valItem ident="margin-top">
                  <gloss>Top Margin</gloss>
                  <desc>In the top margin of the page</desc>
                </valItem>
                <valItem ident="in-line">
                  <gloss>In line</gloss>
                  <desc>the addition is made in the line itself</desc>
                </valItem>
                <!-- TODO: do we need to support this -->
                <valItem ident="in-space">
                  <gloss>In space</gloss>
                  <desc>In a predefined space left for an addition, perhaps a space left by another scribe.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        
        <!--        
          <constraintSpec ident="q-corresp-not-just-hash" scheme="schematron">
          <desc>q element should not have corresp="#"</desc>
          <constraint>
          <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:q">
          <report test="@corresp='#'">Error: q element has corresp="#" which is an empty reference. The corresp attribute should reference a valid XML ID after the hash.</report>
          </rule>
          </constraint>
          </constraintSpec>-->
        
        <constraintSpec ident="element-corresp-not-just-hash" scheme="schematron">
          <desc>No element should have corresp="#"</desc>
          <constraint>
            <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="*[@corresp]">
              <report test="@corresp='#'">Error: <name/> element has corresp="#" which is an empty reference. The corresp attribute should reference a valid XML ID after the hash.</report>
            </rule>
          </constraint>
        </constraintSpec>
        
        
      </schemaSpec>
    </body>
  </text>
</TEI>
